<script lang="ts">
  import DatePicker from "./DatePicker.svelte";
  import EndpointList from "./EndpointList.svelte";
  import Permissions from "./Permissions.svelte";
  import ObjectDisplay from "./ObjectDisplay.svelte";
  import { getAccount, getTokenInfo, getWorlds } from "./api";

  let apiKey = window.localStorage.getItem("apikey");
  let permissions = ["account"];
  let urls = [];
  let expires = new Date();
  let subtoken = "";
  const worlds = getWorlds();

  $: tokeninfo = getTokenInfo(apiKey);
  $: accountinfo = setAccount(apiKey);

  async function setAccount(apiKey) {
    const w = await worlds;
    let acc = await getAccount(apiKey);
    acc["world_name"] = w.find((x) => x.id == acc.world).name;
    return acc;
  }

  function save(event) {
    window.localStorage.setItem("apikey", event.target.value);
  }

  async function submit() {
    let url = "https://api.guildwars2.com/v2/createsubtoken";
    url += "?v=2021-04-02T00:00:00Z";
    url += "&permissions=" + permissions.join(",");
    url += "&urls=" + urls.join(",");
    url += "&expire=" + expires.toISOString();
    url += "&access_token=" + apiKey;
    let res = await fetch(url);
    let raw = await res.json();
    if (res.ok) {
      subtoken = raw.subtoken;
    } else {
      subtoken = raw.text;
    }
  }
</script>

<svelte:head>
  <title>Subtoken Generator</title>
</svelte:head>

<main>
  <div class="container">
    <div class="form">
      <h2>Api Key</h2>
      <input class="apikey" bind:value={apiKey} on:change={save} />

      <h2>Expiry date</h2>
      <DatePicker bind:value={expires} />

      <h2>Permissions to grant</h2>
      <Permissions options={tokeninfo} bind:granted={permissions} />

      <h2>Endpoints to allow</h2>
      <p>Will default to all if none selected.</p>
      <EndpointList options={tokeninfo} bind:whitelisted={urls} />

      <button on:click={submit}>Create Subtoken</button>
      <input class="token apikey" value={subtoken} readonly />
    </div>
    <div class="info">
      <ObjectDisplay title="Tokeninfo" info={tokeninfo} />
      <ObjectDisplay title="Account" info={accountinfo} />
    </div>
  </div>
</main>

<style>
  @media (prefers-color-scheme: dark) {
    :global(body) {
      background: #333;
      color: white;
    }
  }

  .apikey {
    width: 100%;
  }

  h2 {
    font-weight: 500;
    margin-bottom: 10px;
  }

  p {
    font-weight: 350;
    font-size: small;
    margin-top: 0;
  }

  button {
    margin-top: 20px;
  }

  .token {
    font-family: monospace, monospace;
  }

  .container {
    display: grid;
    grid-template-areas:
      "form"
      "info";
    gap: 20px;
  }

  .form {
    grid-area: form;
  }

  .info {
    grid-area: info;
  }

  @media (min-width: 1910px) {
    .container {
      grid-template-areas: "form form info";
    }
  }
</style>
