<script lang="ts">
	export let value: string;
	export let checked: boolean = false;

	import { createEventDispatcher } from "svelte";

	const dispatch = createEventDispatcher();

	function change(e) {
		dispatch("change", e);
	}
</script>

<div class="input-endpoint">
	<input
		type="checkbox"
		id={"cb" + value}
		name={value}
		bind:checked
		on:change={change}
	/>
	<label for={"cb" + value}>{value}</label>
</div>

<style>
	.input-endpoint {
		padding: 2px 0px;
	}

	[type="checkbox"] {
		display: none;
	}

	[type="checkbox"] + label {
		position: relative;
		padding-left: 3.2em;
		padding-top: 0.1em;
		cursor: pointer;
	}

	[type="checkbox"] + label:hover {
		text-shadow: 0px 0px 1px #000;
	}

	[type="checkbox"] + label:before,
	[type="checkbox"] + label:after {
		content: "";
		position: absolute;
		height: 18px;
	}

	[type="checkbox"] + label:before {
		left: 0;
		top: 0;
		width: 42px;
		border: 2px solid #72767d;
		background: #72767d;
		border-radius: 0.8em;
		z-index: -1;
	}

	[type="checkbox"] + label:after {
		margin: 2px;
		top: 0;
		left: 0;
		background-color: #fff;
		border-radius: 50%;
		width: 18px;
		box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
		transition: all 0.1s ease-in-out;
	}

	[type="checkbox"]:checked + label:after {
		left: 24px;
	}

	[type="checkbox"]:checked + label:before {
		background-color: #7289da;
		border-color: #7289da;
	}

	@media (prefers-color-scheme: dark) {
		[type="checkbox"] + label:before {
			background: #aaa;
			border-color: #aaa;
		}

		[type="checkbox"] + label:hover {
			text-shadow: 0px 0px 3px #fff;
		}
	}
</style>
