<script lang="ts">
    import Flatpickr from "svelte-flatpickr";
    import "flatpickr/dist/flatpickr.css";
    import "flatpickr/dist/themes/airbnb.css";

    export let value = new Date();

    const options = {
        enableTime: true,
        time_24hr: true,
    };
</script>

<div>
    <Flatpickr {options} bind:value />
</div>
