<script lang="ts">
  import Checkbox from "./Checkbox.svelte";
  import { getEndpoints } from "./api";

  export let whitelisted: string[] = [];

  export let options: Promise<{ urls: string[] }> = getEndpoints();

  $: endpoints = setEndpoints(options);

  async function setEndpoints(options) {
    let info = await options;
    if (info.urls) {
      return info.urls;
    }
    let endpoints = await getEndpoints();
    return endpoints.urls;
  }

  function updateList(e) {
    const target = e.detail.target;
    if (target.checked) {
      whitelisted = [...whitelisted, target.name];
    } else {
      const index = whitelisted.indexOf(target.name);
      if (index > -1) {
        whitelisted.splice(index, 1);
        whitelisted = whitelisted;
      }
    }
  }
</script>

<div class="endpoints-container">
  {#await endpoints}
    <span>loading...</span>
  {:then endpoints}
    {#each endpoints as endpoint}
      <Checkbox value={endpoint} on:change={updateList} />
    {/each}
  {:catch error}
    <p style="color: red">{error.message}</p>
  {/await}
</div>

<style>
  .endpoints-container {
    column-width: 350px;
  }
</style>
