<script lang="ts">
  export let title: string = "Object";
  export let info: Promise<object>;
</script>

<div>
  <h2>{title}</h2>
  {#await info}
    <span>loading...</span>
  {:then accountinfo}
    <div class="table">
      {#each Object.entries(accountinfo) as [key, val]}
        <span>{key}</span>
        <span>
          {#if Array.isArray(val)}
            <ul class="nested">
              {#each val as x}
                <li class="inner">{x}</li>
              {/each}
            </ul>
          {:else}
            <span>{val}</span>
          {/if}
        </span>
      {/each}
    </div>
  {/await}
</div>

<style>
  .table {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
  }

  .nested {
    display: grid;
    grid-template-columns: repeat(1, auto);
    gap: 5px;
    list-style-type: none;
  }

  .inner:before {
    content: "- ";
  }

  .inner {
    margin-left: -51px;
  }
</style>
