<script lang="ts">
    import Checkbox from "./Checkbox.svelte";

    export let granted = [];

    export let options: Promise<{ permissions: string[] }> = Promise.resolve({
        permissions: [
            "account",
            "inventories",
            "character",
            "tradingpost",
            "wallet",
            "unlocks",
            "pvp",
            "build",
            "progression",
            "guilds",
        ],
    });

    function updateList(e) {
        const target = e.detail.target;
        if (target.checked) {
            granted = [...granted, target.name];
        } else {
            const index = granted.indexOf(target.name);
            if (index > -1) {
                granted.splice(index, 1);
                granted = granted;
            }
        }
    }
</script>

<div class="permissions-container">
    {#await options}
        <span>loading...</span>
    {:then options}
        {#each options.permissions as perm}
            <Checkbox value={perm} on:change={updateList} />
        {/each}
    {:catch error}
        <p style="color: red">{error.message}</p>
    {/await}
</div>

<style>
    .permissions-container {
        column-width: 350px;
        max-width: 750px;
    }
</style>
